Source: bitbake-setup
Section: devel
Priority: optional
Maintainer: Bhargav Das <bhargavdas100@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://git.openembedded.org/bitbake/
#Vcs-Browser: https://salsa.debian.org/debian/bitbake-setup
#Vcs-Git: https://salsa.debian.org/debian/bitbake-setup.git

Package: bitbake-setup
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python3 (>= 3.8),
 build-essential,
 chrpath,
 cpio,
 debianutils,
 diffstat,
 file,
 gawk,
 gcc,
 git,
 iputils-ping,
 libacl1,
 locales,
 python3-git,
 python3-jinja2,
 python3-pexpect,
 python3-pip,
 python3-subunit,
 socat,
 texinfo,
 unzip,
 wget,
 xz-utils,
 zstd
Description: bitbake-setup is a command-line utility.
 bitbake-setup is a command-line utility used to set up, configure, and
 manage Yocto Project and OpenEmbedded build environments. It automates
 the process of fetching repositories (layers), generating configuration
 files and preparing the shell environment for building images.
